{% extends 'base.html.twig' %}

{% block title %}Player invite system - Profile{% endblock %}

{# @var user \App\Entity\User #}

{% block body %}
<div class="container mt-4">
    <div class="card mx-auto" style="width: 18rem;">
        <div class="card-body mx-auto">
            <img src="{{ asset('images/rampage.png') }}" alt="">
            <h5 class="card-title">{{ user.username }}</h5>
            <h6 class="card-subtitle text-muted">{{ user.steam64id }}</h6>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Total taken - <b>{{ user.totaltaken }}</b></li>
            <li class="list-group-item">Total skipped - <b>{{ user.totalSkipped }}</b></li>
            <li class="list-group-item">Total recruited - <b>{{ user.totalrecruited }}</b></li>
            <li class="list-group-item">Total rejected - <b>{{ user.totalrejected }}</b></li>
            <li class="list-group-item">Daily limit - <b>{{ user.dailylimit }}</b></li>
        </ul>
    </div>


    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}

    <div class="w-50 mx-auto mt-5">
        <form method="POST">
            <div class="form-group">
                <label>Email address</label>
                <input type="email" class="form-control" placeholder="{{ user.email }}" disabled>
            </div>
            <div class="form-group">
                <label>Old password</label>
                <input name="oldPassword" type="password" class="form-control" placeholder="Password">
            </div>
            <div class="form-group">
                <label>New password</label>
                <input name="newPassword" type="password" class="form-control" placeholder="Password">
            </div>
            <div class="form-group">
                <label>Repeat new password</label>
                <input name="newPassword2" type="password" class="form-control" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-danger">Change password</button>
        </form>
    </div>
{% endblock %}